*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

#hamburger-top,
#hamburger-bottom {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#hamburger-middle {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.btn__hamburger path {
  stroke-dasharray: 25 45;
  stroke-dashoffset: 0;
}

.btn__hamburger {
  border: 10px solid black;
  padding-left: 15px;
  background-color: #000;
}

.btn__hamburger svg {
  display: block;
}

.btn__hamburger--closed #hamburger-middle {
  opacity: 0;
}

.btn__hamburger--closed #hamburger-top,
.btn__hamburger--closed #hamburger-bottom {
  stroke-dashoffset: -45;
}
